<?xml version="1.0"?>
<configuration>
	<appSettings file="">
  <clear />
  <add key="D2Path" value="C:\Users\Noah\Desktop\MSI PC\Data (E)\Data\Diablo II\" />
  <add key="D2Exe" value="Diablo II.exe" />
  <add key="D2Args" value="" />
  <add key="D2BSDLL" value="D2BS.dll" />
 </appSettings>
 <startup/></configuration>
